@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box-event;
  font-family: "Poppins", sans-serif;
}

.card-event {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 40px 0;
  position: relative;
  min-width: 320px;
  height: 440px;
  box-event-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.card-event:nth-child(1) .box-event .content-event a {
  background: #2196f3;
}

.card-event:nth-child(2) .box-event .content-event a {
  background: #e91e63;
}

.card-event:nth-child(3) .box-event .content-event a {
  background: #23c186;
}

.card-event .box-event {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content-event: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.card-event .box-event:hover {
  transform: translateY(-50px);
}

.card-event .box-event:before {
  content-event: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}
.card-event .box-event .content-event {
  padding: 20px;
  text-align: center;
}
.card-event .box-event .content-event h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.card-event .box-event .content-event h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.card-event .box-event .content-event p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.card-event .box-event .content-event a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-event-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.card-event .box-event .content-event a:hover {
  box-event-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

@keyframes in {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
  }
}
@keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

.banner-in {
  animation: in 1s;
  animation-fill-mode: both;
}

.banner-out {
  animation: out 1s;
  animation-fill-mode: both;
}
